<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
</head>
<body>

	<header th:fragment="header">
		<nav class="navbar navbar-light bg-light justify-content-between">
			<p class="navbar-brand">Polymath</p>
			<ul class="navbar-nav navbar.right">
				<li sec:authorize="isAuthenticated()">
					<form id="logoutForm" th:action="@{/logout}" method="post">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<button class="btn btn-outline-danger my-2 my-sm-0"
							onclick="document.getElementById('logoutForm').submit();"
							type="submit">Sing Out</button>
					</form>
				</li>
			</ul>

		</nav>

		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-info" th:if="${info != null} "
			th:text="${info}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
	</header>

	<div class="container"></div>

	<footer class="container" th:fragment="footer">

		<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap-4.5.2.min.js}"></script>
	</footer>

</body>
</html>