<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-danger text-white">
			<div class="card-header">Error: Acceso Denegado!</div>
			<div class="card-body">
				<h5 class="card-title">
					Los sentimos <span th:text="${#httpServletRequest.remoteUser}"></span>,
					No tienes permisos para acceder a esta recurso.
				</h5>
				<a th:href="@{/login}" class="btn btn-outline-light" role="button">Ir
					al inicio</a>
			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>