<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1
			class="text-secondary border border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>

		<form th:action="@{/form}" th:object="${tarea}" method="post">

			<div class="form-group">
				<label for="inputUser">Usuario</label> <input type="text"
					class="form-control" id="inputUser" th:field="*{usuario.id}"
					aria-describedby="Usuario" placeholder="Usuario" readonly="readonly">

			</div>
			<div class="form-group">
				<label for="inputDescripcion">Descripción</label>
				<textarea class="form-control" id="inputDescripcion"
					th:field="*{description}" aria-describedby="Descripción"
					placeholder="Descripción"
					th:errorclass="'form-control alert-danger'" maxlength="500"
					rows="2" cols="4"> </textarea>
				<small class="form-text text-danger"
					th:if="${#fields.hasErrors('description')}"
					th:errors="*{description}"></small>
			</div>
			<div class="form-group">
				<label for="inputEstatus">Estatus</label> <select
					class="form-control" th:field="*{estatus.id}" id="inputEstatus">
					<option selected="selected" value="1">Compleado</option>
					<option value="2">Incompleto</option>
				</select>

			</div> 
			<button type="submit" class="btn btn-primary">Guardar</button>
			<a class="btn btn-danger btn-xs" th:href="@{/listar/}"
				th:text="Cancelar"></a>

		</form>
	</div>

	<footer th:replace="layout/layout :: footer" class="container">
	</footer>
</body>
</html>