<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>


	<div class="container">
		<h1
			class="text-secondary border border-top-0 border-left-0 border-right-0 border-bottom-0"
			th:text="${titulo}"></h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Usuario</th>
					<th>Descripción</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tarea: ${tarea}">
					<td th:text="${tarea.id}"></td>
					<td th:text="${tarea.usuario.id}"></td>
					<td><a th:href="@{/form/} + ${tarea.id}"
						th:text="${tarea.description}"></a></td>
					<td><a class="btn btn-danger btn-xs" title="Eliminar"
						th:href="@{/eliminar/} + ${tarea.id}"
						onclick="return confirm('¿Esta seguro que desea eliminar?');"
						th:text="X"></a></td>
				</tr>
			</tbody>
		</table>
		<nav th:replace="pagination :: paginator"></nav>

		<div class="container">
			<div class="row">
				<div>
					<div class="form-group row">
						<div class="col-xs-5">
							<a class="btn btn-primary " th:href="@{/form}"
								aria-pressed="true">Agregar</a>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<form th:action="@{/listar/}" method="get" class="form-inline">
						<div class="form-group mx-sm-3">
							<label for="description" class="sr-only">Descripción</label> <input
								type="text" class="form-control" id="description" name="description"
								placeholder="Descripción">
						</div>
						<button type="submit" class="btn btn-primary">Buscar</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer" class="container">
	</footer>
</body>
</html>