<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card border-primary text-center">
			<div class="card-header">Inicio de Session</div>
			<div class="card-body">
				<form th:action="@{/login}" method="post">
					<div class="form-group col-sm-6">
						<input type="text" name="username" id="username"
							class="form-control" placeholder="Username" required="required"
							autofocus="autofocus" />
					</div>
					<div class="form-group col-sm-6">
						<input type="password" name="password" id="password"
							class="form-control" placeholder="Password" required="required" />
					</div>
					<div class="form-group col-sm-6">
						<input type="submit" class="btn btn-lg btn-primary btn-block"
							value="Sing In" />
					</div> 
				</form>
				<a  title="Eliminar"
						th:href="@{/register} " 
						th:text="Registro"></a> 
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer" class="container"> </footer>
</body>
</html>