<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
</head>
<body>
	<nav class="navbar navbar-light bg-light justify-content-between">
		<a class="navbar-brand">Polymath</a>
	</nav>
	<div class="container">
		<h1
			class="text-secondary border border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>

		<form th:action="@{/register}" th:object="${usuario}" method="post">

			<div class="form-group">
				<label for="inputUser">Nombre Usuario</label> <input type="text"
					class="form-control" th:errorclass="'form-control alert-danger'" id="inputUser" th:field="*{username}"
					aria-describedby="Nombre Usuario" placeholder="Nombre Usuario">
					<small class="form-text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
			</div>
			<div class="form-group">
				<label for="inputClave">Clave</label> <input type="password" th:errorclass="'form-control alert-danger'"
					class="form-control" id="inputClave" th:field="*{password}"
					aria-describedby="Clave Usuario" placeholder="Clave Usuario">					
					<small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
			</div> 

			<div class="form-check">
				<input th:field="*{enabled}" class="form-check-input" type="radio" name="checkInputEnabled"
					id="checkInputEnabled" value="1" checked="checked"> <label
					class="form-check-label" for="checkInputEnabled"> Activo </label>
					
					<small class="form-text text-danger" th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}"></small>
			</div>


			<input type="hidden" id="inputId" th:field="*{id}">
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>

	<footer class="container">
		<script th:src="@{/js/bootstrap-4.5.2.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
	</footer>
</body>
</html>